<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Profle Card UI Design | CoderGirl </title>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/back.jpg);
  background-position: center;
  background-size: cover;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2{
  font-size: 33px;
  font-weight: 600;
}
span{
  font-size: 18px;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}
</style>
</head>
<body>
  <section class="main">
  <div class="profile-card">
    <div class="image">
      <img src="https://vn.images.search.yahoo.com/images/view;_ylt=Awrx.aujYWNoD1oYKMRtUwx.;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzJmYWVhOTNkZGY3ZWU4ODY2NTc2ZGRlMTkxMDJmZmU3BGdwb3MDNTYEaXQDYmluZw--?back=https%3A%2F%2Fvn.images.search.yahoo.com%2Fsearch%2Fimages%3Fp%3D%25E1%25BA%25A3nh%2Bho%25E1%25BA%25A1t%2Bh%25C3%25ACnh%2Bch%25C3%25B3%2B%25C4%2591en%2Bpug%26ei%3DUTF-8%26type%3DE210VN885G0%26fr%3Dmcafee%26fr2%3Dp%253As%252Cv%253Ai%252Cm%253Asb-top%26tab%3Dorganic%26ri%3D56&w=1920&h=1200&imgurl=sieupet.com%2Fsites%2Fdefault%2Ffiles%2Fpictures%2Fimages%2Fhinh-nen-nhin-gi-ma-nhin-cua-cho-pug.jpg&rurl=https%3A%2F%2Fsieupet.com%2Fhinh-anh-cho-pug.html&size=55KB&p=%E1%BA%A3nh+ho%E1%BA%A1t+h%C3%ACnh+ch%C3%B3+%C4%91en+pug&oid=2faea93ddf7ee8866576dde19102ffe7&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&fr=mcafee&tt=T%C3%ACm+hi%E1%BB%83u+v%E1%BB%81+ch%C3%B3+Pug+th%C3%B4ng+qua+25%2B+h%C3%ACnh+%E1%BA%A3nh+si%C3%AAu+%C4%91%E1%BA%B9p%2C+si%C3%AAu+d%E1%BB%85+th%C6%B0%C6%A1ng%21&b=0&ni=160&no=56&ts=&tab=organic&sigr=GSEuFsKweBP2&sigb=8bE_0bYWhSuq&sigi=oxv1iKdxoGLz&sigt=1KPsgnMcxGeD&.crumb=uHRCZAWd7eq&fr=mcafee&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&type=E210VN885G0" alt="Ảnh đại diện " class="profile-pic">
    </div>
    <div class="data">
      <h2>PUG</h2>
      <span>Developer & Designer</span>
    </div>
    <div class="row">
      <div class="info">
        <h3>Following</h3>
        <span>120</span>
      </div>
      <div class="info">
        <h3>Followers</h3>
        <span>5000</span>
      </div>
      <div class="info">
        <h3>Posts</h3>
        <span>209</span>
      </div>
    </div>
    <div class="buttons">
      <a href="#" class="btn">Message</a>
      <a href="#" class="btn">Follow Me</a>
    </div>
  </div>
</section>
</body>
</html>
